##
## Unit Tests & Coverage
##
name: test
on:
  pull_request:
    types:
      - opened
      - synchronize

  push:
    branches:
      - main
      - /refs/heads/main

jobs:

  unit:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-go@v2
        with:
          go-version: "1.20"

      - uses: actions/checkout@v2
     
      - name: go build
        run: |
          find . -name go.mod -execdir go build ./... \;
    
      - name: go test
        run: |
          go test -v -coverprofile=profile.cov $(go list ./... | grep -v /examples/)
        env:
          ## GOPATH required to build serverless app inside unittest 
          GOPATH: /home/runner/work/${{ github.event.repository.name }}/go

      - uses: shogo82148/actions-goveralls@v1
        continue-on-error: true
        with:
          path-to-profile: profile.cov
